html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
.container{
    width:100%;
    height:100vh;
    background-image: url(/public/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100vw;
}
.formularioLogin{
    display:flex;
    flex-direction: column;
}
.tituloLogin{
    text-align: center;
    font-family: 'Faustina', serif;
    font-size: 75px;
}
.login{
    height: 50px;
    width: 319px;
    margin-left: auto;
    font-size:20px;
    margin-right: auto;
    padding-left: 15px;
    border-radius: 12px;
    border:none;
    outline: none;
}
    .password{
    display: block;
    margin-left: auto;
    font-size:20px;
    margin-right: auto;
    padding-left: 15px;
    outline: none;
    border-radius: 12px;
    margin-top:15px;
    border:none;
    height: 50px;
    width: 319px;
}
.buttonConfirmLogin{
    margin-top: 20px;
    background-color: #00ff44;
    height: 56px;
    width: 340px;
    border-radius: 12px;
    cursor: pointer;
    border:none;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
}
.buttonConfirmLogin:hover{
    background-color: #00a62c;
    opacity: 0.7;
    transition: opacity 0.3s;
    border: 1px dotted black;

}
.semCadastro{
    margin-top: 20px;
    margin-left: auto;
    font-size:15px;
    margin-right: auto;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .container{
        background-image: none;
        background-color:#E5E5E5;
    }
  }