<!DOCTYPE html>
<html lang="en" id="homeViewHtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Início" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="../scripts/home_view.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../styles/home_view_style.css">
  <title>Home View</title>
</head>
<body id="homeViewBody">
  <header id="searchBar">
    <h2>Barra de busca</h2>
  </header>
  <div id="container">
    <div id="navBar"></div>

    <div id="todoListContent" cl>
      <section id="todoListHeader">
        <div>
          <h5 id="todoListTitle">Hoje</h5>
        </div>
        <div id="todoListIcons">
          01/04/2022
          <ion-icon name="person-add-outline"></ion-icon>
        </div>
      </section>
      
      <div id="progressBarIndicator" class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div id="tasks">
        <div id="task1">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="checkboxValue1" id="checkboxTask1" onclick="changeCheckboxValue()">
            <label id="task1Description" class="form-check-label" for="checkboxTask1">
              Teste teste o teste a teste e teste, teste mais teste
            </label>
          </div>
          <div id="todoIcons">
            <span class="badge rounded-pill text-bg-primary">Fácil</span>
            01/04/2022
            <button class="btn" onclick="updateTaskDescription(1)">
              <ion-icon name="pencil-sharp"></ion-icon>
            </button>
            <button class="btn"  onclick="deleteTask(1)">
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </div>
        </div>
  
        <div id="task2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label id="task2Description" class="form-check-label" for="flexCheckDefault">
              Teste teste o teste a teste e teste, teste mais teste
            </label>
          </div>
          <div id="todoIcons">
            <span class="badge rounded-pill text-bg-primary">Fácil</span>
            01/04/2022
            <button class="btn" onclick="updateTaskDescription(2)">
              <ion-icon name="pencil-sharp"></ion-icon>
            </button>
            <button class="btn"  onclick="deleteTask(2)">
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </div>
        </div>
  
        <div id="task3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label id="task3Description" class="form-check-label" for="flexCheckDefault">
              Teste teste o teste a teste e teste, teste mais teste
            </label>
          </div>
          <div id="todoIcons">
            <span class="badge rounded-pill text-bg-primary">Fácil</span>
            01/04/2022
            <button class="btn" onclick="updateTaskDescription(3)">
              <ion-icon name="pencil-sharp"></ion-icon>
            </button>
            <button class="btn">
              <ion-icon name="close-circle" onclick="deleteTask(3)"></ion-icon>
            </button>
          </div>
        </div>
      </div>

      <div id="addTask">
        <button class="btn" onclick="addTask()">
          <ion-icon name="add-circle-sharp"></ion-icon>
        </button>
        <div id="editTask">
          <button class="btn">
            <ion-icon name="pencil-sharp"></ion-icon>
          </button>
          <button class="btn">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
